html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    display: grid;
    justify-items: center;
}

.add-book-panel {
    background-color: lightgray;
    width: 480px;    
    padding: 18px;
    border: none;
    border-radius: 10px;
    transition: 0.25s;
    margin-bottom: 24px;
}

.add-book-panel:hover {
    background-color: rgb(152, 152, 152);
}

.submit-button {
    background-color: burlywood;
    border-radius: 10px;
    padding: 18px;
    border: none;
}

.submit-button:hover {
    background-color: rgb(244, 186, 111)
}

.panel {
    display: none;
}

.active {
    display: grid;
}

form {
    display: grid;
}

form > div {
    display: flex;
    justify-content: space-between;    
    align-items: center;
    padding-bottom: 8px;
}

label {
    padding-right: 8px;
}

.book-section {
    margin-top: 32px;
    display: grid;
    width: 800px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
    justify-items: center;
}

.book {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
    background-color: burlywood;
    align-items: center;
    border: double 10px rgb(189, 165, 133);
    border-radius: 2px 10px 10px 2px;
    padding-top: 18px;
}